[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/auth/*"
  to = "https://api.bwcarpe.com/auth/:splat"
  status = 200
  force = true
  headers = {Access-Control-Allow-Origin = "*"}

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
